## Classification Project on Bank Customers

### Dataset Information

The dataset is acquired from the UCI Machine Learning Repository, which can be found here (https://archive.ics.uci.edu/dataset/222/bank+marketing)

The data is related with direct marketing campaigns of a Portugues banking institution.The marketing campaigns were based on phone calls.Often,more than one contact tp the same client was required in order to access if the product(bank term deposit) would be 'yes' or not("no") subscribed.

`A bank term deposit` also known as a `fixed deposit` is a savings amount where you deposit a lump sum of money for a specific period or term at a fixed usually higher interest rate

The Goal is to predict if a customer will subscribe to a term deposit

### The dataset includes the following features

- `age` (numeric)
- `job` : type of job (categorical: "admin.","unknown","unemployed","management","housemaid","entrepreneur","student",
                                       "blue-collar","self-employed","retired","technician","services") 
- `marital` : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)
- `education` (categorical: "unknown","secondary","primary","tertiary")
- `default:` has credit in default? (binary: "yes","no")
- `balance:` average yearly balance, in euros (numeric) 
- `housing:` has housing loan? (binary: "yes","no")
- `loan:`   has personal loan? (binary: "yes","no")
#### related with the last contact of the current campaign:
- `contact:` contact communication type (categorical: "unknown","telephone","cellular") 
- `day:`  last contact day of the month (numeric)
- `month:` last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")
- `duration:` last contact duration, in seconds (numeric)
#### other attributes:
- `campaign:` number of contacts performed during this campaign and for this client (numeric, includes last contact)
- `pdays:` number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)
- `previous:` number of contacts performed before this campaign and for this client (numeric)
- `poutcome:` outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")
- `y`  has the client subscribed a term deposit? (binary: "yes","no")

### Let's Quickly Explore this data,Note we are using the minimal sample which was randomly selected from the `bank-full.csv`

In [8]:
import pandas as pd
import csv

In [13]:
# Load the dataset
df = pd.read_csv('bank.csv',sep=";",quotechar='"')

In [14]:
#sample the dataset
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

#### For this we are going to look at each column one by one

The Age Colmn

In [6]:
df['age'].head()

KeyError: 'age'